.nav-link {
  text-decoration: none;
}
.job-list-item {
  display: flex;
  flex-direction: column;
  background-color: #272727;
  border-radius: 20px;
  min-width: 90vh;
  margin-bottom: 20px;
  padding: 20px;
}

.logo-tile-rating-container {
  display: flex;
}
.job-company-logo {
  width: 10%;
  height: 10%;
  margin-right: 15px;
}
.job-title {
  color: #ffffff;
  font-family: roboto;
  font-size: 24px;
}
.job-rating {
  color: #ffffff;
}
.rating-icon {
  color: #fbbf24;
  margin-right: 6px;
}
.location-lpa-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.location-employment-type-container {
  display: flex;
  align-items: center;
}
.lpa {
  color: #ffffff;
}
.location-container {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.job-location {
  color: #ffffff;
  margin-left: 8px;
}
.job-empltype {
  color: #ffffff;
  margin-left: 8px;
}
hr {
  border-bottom: 1px solid #b6c5ff;
  width: 100%;
}
.description-heading {
  color: #ffffff;
  font-family: roboto;
  font-size: 24px;
  text-align: start;
}
.job-description {
  color: #ffffff;
  font-family: roboto;
  font-size: 16px;
  line-height: 1;
  margin: 0px;
  text-align: start;
}
