.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  height: 100vh;
}

.not-found-img {
  width: 400px;
}
.not-found-heading {
  font-family: roboto;
  font-size: 34px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  font-size: 36px;
}
.not-found-description {
  color: #ffffff;
  font-family: roboto;
}
